src/assignment8/StudentInfoManagementFaults.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://jw.nju.edu.cn/schema"
        elementFormDefault="qualified">

    <element name="invalidStudentID" type="string"/>
    <element name="studentIDNotExists" type="string"/>
    <element name="invalidName" type="string"/>
    <element name="invalidDepartment" type="string"/>
    <element name="invalidDuty" type="string"/>
    <element name="modifyPermissionDenied" type="string"/>
    <element name="invalidResponseDataError" type="string"/>

</schema>