src/assignment10/src/example/service/StudentInfoManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.example" xmlns:intf="http://service.example" xmlns:tns1="http://model.service.example" xmlns:tns2="http://sax.xml.org" xmlns:tns3="http://lang.java" xmlns:tns4="http://fault.service.example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.example" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://fault.service.example"/>
   <import namespace="http://sax.xml.org"/>
   <import namespace="http://lang.java"/>
   <import namespace="http://model.service.example"/>
   <element name="studentToken" type="xsd:string"/>
   <element name="studentInfo" type="tns1:StudentInfo"/>
   <element name="modifyStudentInfoOperationReturn" type="xsd:string"/>
   <element name="fault" type="tns2:SAXException"/>
   <element name="fault1" type="tns4:InputFault"/>
   <element name="studentToken1" type="xsd:string"/>
   <element name="retrieveStudentInfoOperationReturn" type="tns1:StudentInfo"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.service.example" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://fault.service.example"/>
   <import namespace="http://sax.xml.org"/>
   <import namespace="http://lang.java"/>
   <complexType name="Department">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StudentInfo">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="department" nillable="true" type="tns1:Department"/>
     <element name="jobType" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sax.xml.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://fault.service.example"/>
   <import namespace="http://lang.java"/>
   <import namespace="http://model.service.example"/>
   <complexType name="SAXException">
    <sequence>
     <element name="cause" nillable="true" type="xsd:anyType"/>
     <element name="exception" nillable="true" type="xsd:anyType"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://fault.service.example" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://sax.xml.org"/>
   <import namespace="http://lang.java"/>
   <import namespace="http://model.service.example"/>
   <complexType name="InputFault">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="retrieveStudentInfoOperationResponse">

      <wsdl:part element="impl:retrieveStudentInfoOperationReturn" name="retrieveStudentInfoOperationReturn"/>

   </wsdl:message>

   <wsdl:message name="SAXException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="InputFault">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="retrieveStudentInfoOperationRequest">

      <wsdl:part element="impl:studentToken1" name="studentToken"/>

   </wsdl:message>

   <wsdl:message name="modifyStudentInfoOperationResponse">

      <wsdl:part element="impl:modifyStudentInfoOperationReturn" name="modifyStudentInfoOperationReturn"/>

   </wsdl:message>

   <wsdl:message name="modifyStudentInfoOperationRequest">

      <wsdl:part element="impl:studentToken" name="studentToken"/>

      <wsdl:part element="impl:studentInfo" name="studentInfo"/>

   </wsdl:message>

   <wsdl:portType name="StudentInfoManagement">

      <wsdl:operation name="modifyStudentInfoOperation" parameterOrder="studentToken studentInfo">

         <wsdl:input message="impl:modifyStudentInfoOperationRequest" name="modifyStudentInfoOperationRequest"/>

         <wsdl:output message="impl:modifyStudentInfoOperationResponse" name="modifyStudentInfoOperationResponse"/>

         <wsdl:fault message="impl:InputFault" name="InputFault"/>

         <wsdl:fault message="impl:SAXException" name="SAXException"/>

      </wsdl:operation>

      <wsdl:operation name="retrieveStudentInfoOperation" parameterOrder="studentToken">

         <wsdl:input message="impl:retrieveStudentInfoOperationRequest" name="retrieveStudentInfoOperationRequest"/>

         <wsdl:output message="impl:retrieveStudentInfoOperationResponse" name="retrieveStudentInfoOperationResponse"/>

         <wsdl:fault message="impl:InputFault" name="InputFault"/>

         <wsdl:fault message="impl:SAXException" name="SAXException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentInfoManagementSoapBinding" type="impl:StudentInfoManagement">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="modifyStudentInfoOperation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyStudentInfoOperationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyStudentInfoOperationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InputFault">

            <wsdlsoap:fault name="InputFault" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="SAXException">

            <wsdlsoap:fault name="SAXException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="retrieveStudentInfoOperation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveStudentInfoOperationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveStudentInfoOperationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InputFault">

            <wsdlsoap:fault name="InputFault" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="SAXException">

            <wsdlsoap:fault name="SAXException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentInfoManagementService">

      <wsdl:port binding="impl:StudentInfoManagementSoapBinding" name="StudentInfoManagement">

         <wsdlsoap:address location="http://localhost:8080//services/example/service/StudentInfoManagement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
